# #:schema https://schemas.spinframework.dev/spin/manifest-v2/latest.json

spin_manifest_version = 2

[application]
name = "middleware-terrifying-nonsense"
version = "0.1.0"
authors = ["itowlson <ivan.towlson@fermyon.com>"]
description = ""

[[trigger.http]]
route = "/..."
component = "middleware-terrifying-nonsense"
components.middleware = ["middlybiddly", "middlybiddly2"]
executor = { type = "wasip3-unstable" }

[[trigger.http]]
route = "/snerk"
component = "middleware-terrifying-nonsense"
components.middleware = ["middlybiddly2"]
executor = { type = "wasip3-unstable" }

[component.middleware-terrifying-nonsense]
source = "target/wasm32-wasip2/release/middleware_terrifying_nonsense.wasm"
[component.middleware-terrifying-nonsense.build]
command = "cargo +1.90 build --target wasm32-wasip2 --release"
watch = ["src/**/*.rs", "Cargo.toml"]

[component.middlybiddly]
source = "target/wasm32-wasip2/release/middlybiddly.wasm"
[component.middlybiddly.build]
workdir = "middlybiddly"
command = "cargo +1.90 build --target wasm32-wasip2 --release"
watch = ["src/**/*.rs", "Cargo.toml"]

[component.middlybiddly2]
source = "target/wasm32-wasip2/release/middlybiddly2.wasm"
[component.middlybiddly2.build]
workdir = "middlybiddly2"
command = "cargo +1.90 build --target wasm32-wasip2 --release"
watch = ["src/**/*.rs", "Cargo.toml"]
